<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" style="height:100%">
  <head>
		{% block head %}
			<meta charset="UTF-8">
			<title>{% block title %}{% endblock %}</title>
			<script src="/js/jquery-1.11.3.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/bib-list-min.js"></script>
			<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
			<link href="/css/pygments.css" rel="stylesheet" type="text/css">
			<link href="/fonts/fonts.css" rel="stylesheet" type="text/css">
			<link href="/css/style.css" rel="stylesheet" type="text/css">
			<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		{% endblock %}
  </head>

  <body style="height:100%">
    <div class="container" style="height:100%">

			{% block toprow %}
      <div class="row">
        <div class="col-xs-12">
					<h1><a class="noformat" href="index.html">{{ SITENAME }}</a></h1>
        </div>
      </div>
			{% endblock %}

			<div class="row" style="height:100%">

				{% block sidebar %}
				<div class="col-xs-3 col-left">
					<img src="/images/me2.jpg">

					<p class="smaller">
						<div class="wrapline">Assistant Professor</div>
						<div class="wrapline">Department of Information Sciences &amp;
							Technologies and Department of Computer Science</div>
						<div class="wrapline">Golisano College of Computing and Information Science</div>
						<div class="wrapline">Rochester Institute of Technology</div>
					</p>

					<h3>Contact</h3>
					<p>
						<span class="fa fa-fw fa-envelope-o"></span>
							<a href="mailto:daniel.ashbrook@rit.edu">daniel.ashbrook@rit.edu</a><br>
						<span class="fa fa-fw fa-twitter"></span>
							<a href="http://twitter.com/anjirokhan">@anjirokhan</a><br>
						<span class="fa fa-fw fa-calendar"></span>
							<a href="/calendar.html">Calendar</a><br></span>
					</p>

					<h3>Office</h3>
					<p class="smaller">
						<div class="wrapline">GOL 70-2615</div>
						<div class="wrapline">Golisano College of Computing and Information Science</div>
						<div class="wrapline">20 Lomb Memorial Drive</div>
						<div class="wrapline">Rochester, NY  14623</div>
					</p>
				</div>
				{% endblock sidebar %}

				{% block content %}
				{% endblock %}

      </div>
    </div>
  </body>
</html>
