{% extends "base.html" %}
{% block sitetitle %}{{TITLE}}{% endblock %}

{% block head %}
	{{ super() }}
	<script>
		$(document).ready(function()
		{
			bibtexify("ashbrook_pubs.bib", "pubTable", {'visualization':
				false});
		});
	</script>
{% endblock %}

{% block content %}
<div class='col-xs-6' style='height:100%'>
	{{ 'main/main-content.md' | includemd }}
</div>
<div class='col-xs-3 col-right'>
	{% filter md %}
		###Prospective Students

		I am looking for undergraduate and graduate students
		interested in improving human interaction with wearable
		computing and personal fabrication.  Are you a student
		interested in working with me? If so, please [read this
		first](prospective_students.html), then feel free to contact
		me via email and we can arrange a time to meet.

		Currently, I am especially looking for students who have
		experience with any of the following:

		* Kinect programming
		* electronics prototyping
		* 3D printing
	{% endfilter %}
	{{ 'main/travel.html' | includefile }}
</div>
{% endblock content %}
